.first {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #1abc9c;
  .general {
    align-items: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 60vh;
    h1 {
      font-size: 5rem;
      color: white;
      font-family: "Source Sans Pro", "sans-serif";
    }

    .star {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      .ulduz {
        justify-content: center;
        color: white;
        font-size: 35px;
      }
      .xett {
        margin: 0px 25px;
        width: 156px;
        height: 4px;
        background-color: white;
        border-radius: 2rem;
      }
    }
    .text {
      h1 {
        font-size: 24px;
        font-weight: 100;
      }
    }
  }
}
